*{
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: #98AFC7;
	font-family: 'Arial';
}
.Topic{
	width:100%;
	max-width:97%;
	margin:20px auto;
}
ul.tabs{
	width:100%;
	background:#566D7E;
	list-style:none;
	display:flex;
}
ul.tabs li{
	width:25%;
}
ul.tabs li a{
	color:white;
	text-decoration:none;
	font-size:16px;
	text-align:center;
	display:block;
	padding:20px 0px;
}
ul.tabs li a .Texto{
	margin-left:12px;
}
.active{
	background:#1F45FC;
}
.content{
	width:100%;
	background:#E5E4E2;
}
.content article{
	padding:25px;
}
.content article p{
	text-align:justify;
}

/*Responsive*/
@media screen and (max-width: 800px){
	ul.tabs li{
		width:none;
		flex-basis:0;
		flex-grow:1;
	}
}
@media screen and (max-width: 500px){
	ul.tabs li a{
		padding:15px 0px;
	}
	ul.tabs li a .Texto{
		display:none;
	}
	.content article{
		padding:15px;
	}
}